<p-dialog header="{{ boolEditOrder ? 'Edit Order' : 'Add Order' }}" [(visible)]="addEditOrderDiaog" [modal]="true"
    [styleClass]="'add-edit-dialog'" [draggable]="false" [resizable]="false" (onHide)="closeDialog()">
    <div class="row h-100 justify-content-between">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Order Date</label>
                    <input type="date" name="order_date" [(ngModel)]="order.order_date" class="form-control ">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Delivery Date</label>
                    <input type="date" name="delivery_date" [(ngModel)]="order.delivery_date" class="form-control ">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Customer Address</label>
                    <input type="text" name="address" [disabled]="true" [(ngModel)]="customer.address"
                        class="form-control ">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Site Address <div class="d-flex"> ( <input type="checkbox"
                                class="form-check-input pointer" [checked]="order.is_siteAddressSame"
                                (change)="siteAddress($event)" name="is_siteAddressSame">
                            <label class="ms-2" style="font-size: 13px;">Is Sites address Same as Customer
                                Address?</label>)
                        </div></label>
                    <input type="text" name="site_address" [(ngModel)]="order.site_address" class="form-control ">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Labour Expense</label>
                    <input type="text" name="labour_expense" [(ngModel)]="order.labour_expense"
                        class="form-control" placeholder="Enter Labour Expense">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Freight Expense</label>
                    <input type="text" name="freight_expense" [(ngModel)]="order.freight_expense"
                        class="form-control" placeholder="Enter Freight Expense">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label class="form-label">Notes</label>
                <input type="text" name="notes" [(ngModel)]="order.notes" class="form-control "
                    placeholder="Enter Notes">
            </div>
        </div>
        <div class="d-flex justify-content-end  gap-3  mt-md-4">
            <button type="button" (click)="closeDialog()" class="btn btn-light waves-effect waves-light">Close</button>
            <button (click)="addNewOrder()" *ngIf="!boolEditOrder"
                class="btn btn-success waves-effect waves-light">Add</button>
            <button (click)="updateOrderDetails()" *ngIf="boolEditOrder"
                class="btn btn-success waves-effect waves-light">Save</button>
        </div>
    </div>
</p-dialog>