.pagination {
    .btn-pagination {
      border-radius:0.3rem;
      padding: 2px 9px;
      background-color: white;
      border: 1px solid #8C68CD;
      color: #8C68CD;
    }
  
    .active {
      background-color: #8C68CD;
      color: white;
  
    }
    .btn-arrow{
      padding: 2px 9px;
    }
  }