<p-dialog header="{{boolEditOrder ? 'Edit Order Detail':'Add Order Detail'}}" [(visible)]="addEditOrderDetailDiaog" [modal]="true" [styleClass]="'add-edit-dialog'"
    [draggable]="false" [resizable]="false" (onHide)="closeDialog()">
    <!-- <div *ngIf="boolEditOrderDetail">
        <div class="row h-100 justify-content-between">

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Product</label>
                        <select class="form-select" name="product_id" [(ngModel)]="orderDetail.order_detail.product_id"
                            aria-label="Default select example">
                            <option value=null>Select</option>
                            <option *ngFor="let product of productsList" [value]="product.id">
                                {{product.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Amount</label>
                        <input type="number" name="amount" [(ngModel)]="orderDetail.order_detail.amount" class="form-control "
                            placeholder="Enter Amount">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Quantity</label>
                        <input type="number" name="quantity" [(ngModel)]="orderDetail.order_detail.quantity" class="form-control "
                            placeholder="Enter Quantity">
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end  gap-3  mt-md-4">
                <button type="button" (click)="closeDialog()"
                    class="btn btn-light waves-effect waves-light">Close</button>
                <button (click)="addNewOrderDetail()" *ngIf="!boolEditOrderDetail"
                    class="btn btn-success waves-effect waves-light">Add</button>
                <button (click)="updateOrderDetailDetails()" *ngIf="boolEditOrderDetail"
                    class="btn btn-success waves-effect waves-light">Save</button>
            </div>
        </div>
    </div> -->
    <div>
        <div class="row h-100 justify-content-between">

            <div class="row" >
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Product</label>
                        <div class="js-searchable-dropdown" #dropdown>
                            <span>
                                <input [disabled]="boolEditOrder" type="text" class="form-control " #searchInput (ngModelChange)="searchProduct($event)"
                                [ngModel]="boolEditOrder ? selectedOrderDetailProduct.name : customerSearch"  placeholder="Search Product ...">
                                <span class="search-icon"><img src="../../../../../assets/images/search.svg"></span>
                            </span>
                            <ul class="js-searchable-dropdown-list" #dropdownList>
                                <li class="js-searchable-dropdown-list-item" *ngFor="let item of productsList"
                                    (click)="onItemClick(item,'customer')" [attr.data-search-value]="item">
                                    {{ item.name }} ({{item.size}})
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Unit Type</label>
                        <select class="form-select " name="status_id" [(ngModel)]="orderDetail.unit_type">
                            <option value="">Select</option>
                            <option *ngFor="let type of unitType | keyvalue" [value]="type.key">
                                {{ type.value }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Unit Quantity</label>
                        <input type="number" name="unit_quantity" [(ngModel)]="orderDetail.unit_quantity "
                            class="form-control " placeholder="Enter Unit Quantity">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Unit Price</label>
                        <input type="number" name="unit_price" [(ngModel)]="orderDetail.unit_price "
                            class="form-control " placeholder="Enter Unit Price">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Remarks</label>
                        <input type="text" name="remarks" [(ngModel)]="orderDetail.remarks " class="form-control "
                            placeholder="Enter Remarks">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <input type="text" name="description" [(ngModel)]="orderDetail.description "
                            class="form-control " placeholder="Enter Description">
                    </div>
                </div>

            </div>
            <div class="d-flex justify-content-end  gap-3  mt-md-4">
                <button type="button"  (click)="closeDialog()"
                    class="btn btn-light waves-effect waves-light">Close</button>
                    <button *ngIf="boolEditOrder" (click)="addNewOrderDetail()" class="btn btn-success waves-effect waves-light">Save</button>
                <button *ngIf="!boolEditOrder" (click)="addNewOrderDetail()" class="btn btn-success waves-effect waves-light">Add</button>
            </div>
        </div>
    </div>
</p-dialog>