<div class="card">
    <div class="content">
        <div class="row mb-2">
            <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">

                    <h4>Products</h4>
                    <div class="search-grp">
                        <input class="search-input" placeholder="Search..." type="text" name="search_text"
                            (input)="onSearchInputChange($event)" [(ngModel)]="searchText">
                        <img class="search-img" src="../../../../../../../assets/images/icons/search.svg">
                    </div>
                </div>
                <div class="d-flex gap-2">
                    <div>
                        <button class="btn btn-soft-primary btn-sm " (click)="AddProduct()">Add<i
                                class="mdi mdi-plus align-middle ms-1"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tb-main">
            <table class="table table-bordered table-hover  table-centered align-middle table-nowrap">
                <thead class="text-muted bg-light-subtle sticky-tb-head">
                    <tr>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Design No</th>
                        <th>Company</th>
                        <th>Total Square Feet</th>
                        <th>Available box</th>
                        <th>Stock</th>
                        <th>Details</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="productsList.length==0">
                        <td colspan="100%" class="text-center">
                            <img class="no-data-icon" src="../../../../../../../assets/images/icons/no-data.svg">
                            <h5 class="margin-top-bottom-10">
                                No Data To Show
                            </h5>
                        </td>
                    </tr>
                    <tr *ngFor="let product of productsList ; let i = index">
                        <td>{{ product.name }} ({{product.size}})</td>
                        <td>{{ productsType[product.product_type] }}</td>
                        <td>{{ product.design_no }}</td>
                        <td>{{ product.company }}</td>
                        <td>{{ product.total_feet }}</td>
                        <td>{{ product.available_box }}</td>
                        <td>
                            <div class="d-flex text-icon-grp">
                                <span class="blue hover-underline" type="button"
                                    (click)="goTo('company_owner/products/' + product.id+'/stock')">View</span>
                                <!-- <span>
                                    <button class="btn btn-soft-primary btn-sm" (click)="addStock(product,i)"><i
                                            class="ri-add-line"></i></button>
                                </span> -->
                            </div>
                        </td>
                        <td>
                            <div class="d-flex text-icon-grp">
                                <span class="btn btn-soft-primary btn-sm" type="button"
                                    (click)="editProduct(product,i)">Edit<i class="ri-pencil-line ms-1"></i></span>
                            </div>
                        </td>
                        <td><span class="pointer" (click)="delete(product.id,i)"><img height="18px"
                                    src="../../../../../../assets/images/trash.svg"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-pagination *ngIf="noOfPages!=0" [totalPages]="noOfPages" [selectedPage]="selectedPage"
        (pageChange)="onPageChange($event)"></app-pagination>
    </div>
</div>

<p-dialog [header]="addOrEditProductDialogHeader!" [(visible)]="addEditProductDialog" [modal]="true"
    [styleClass]="'add-edit-dialog'" [draggable]="false" [resizable]="false" (onHide)="canceladdOrEditProduct()">
    <div class="row h-100 justify-content-between">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" name="name" [(ngModel)]="product.name" class="form-control "
                        placeholder="Enter name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Company</label>
                    <input type="text" name="company" [(ngModel)]="product.company" class="form-control "
                        placeholder="Enter Company">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Product Type</label>
                    <select class="form-select " name="status_id" [(ngModel)]="product.product_type">
                        <option value="">Select</option>
                        <option *ngFor="let type of productsType | keyvalue" [value]="type.key">
                            {{ type.value }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Design No</label>
                    <input type="text" name="design_no" [(ngModel)]="product.design_no" class="form-control "
                        placeholder="Enter Design No">
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Model</label>
                    <input type="text" name="model" [(ngModel)]="product.model" class="form-control "
                        placeholder="Enter Model">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Color</label>
                    <input type="text" name="size" [(ngModel)]="product.color" class="form-control "
                        placeholder="Enter Color">
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Size</label>
                    <select class="form-select " name="status_id" (ngModelChange)="assignfeet($event)" [(ngModel)]="product.size">
                        <option value="">Select</option>
                        <option *ngFor="let type of sizeOptions | keyvalue" [value]="type.key">
                            {{ type.key }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Square Feet Per Piece</label>
                    <input type="text" name="feet_per_piece" [(ngModel)]="product.feet_per_piece" class="form-control "
                        placeholder="Enter Feet Per Piece">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Piece Per Box</label>
                    <input type="text" name="piece_per_box" [(ngModel)]="product.piece_per_box" class="form-control "
                        placeholder="Enter Piece Per Box">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end  gap-3  mt-md-4">
            <button type="button" (click)="canceladdOrEditProduct()"
                class="btn btn-light waves-effect waves-light">Close</button>
            <button (click)="addNewProduct()" *ngIf="!boolEditProduct"
                class="btn btn-success waves-effect waves-light">Add</button>
            <button (click)="updateProductDetails()" *ngIf="boolEditProduct"
                class="btn btn-success waves-effect waves-light">Save</button>
        </div>
    </div>
</p-dialog>
<app-add-edit-product-stock [addOrEditStockDialog]="addStockDialog" [stock]="stock" [productId]="idToAddStock" (addOrUpdateStock)="updateProductFeetAmount($event)" (close)="cancelAddStock($event)"></app-add-edit-product-stock>