<div class="card">
    <div class="content">
        <div class="row mb-2">
            <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">

                    <h4>Stock - {{product.name}}</h4>
                    <!-- <div class="search-grp">
                        <input class="search-input" placeholder="Search..." type="text" name="search_text"
                            (input)="onSearchInputChange($event)" [(ngModel)]="searchText">
                        <img class="search-img" src="../../../../../../../assets/images/icons/search.svg">
                    </div> -->
                </div>
                <div class="d-flex gap-2">
                    <div>
                        <button class="btn btn-soft-primary btn-sm " (click)="addStock()">Add<i
                                class="mdi mdi-plus align-middle ms-1"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tb-main">
            <table class="table table-bordered table-hover  table-centered align-middle table-nowrap">
                <thead class="text-muted bg-light-subtle sticky-tb-head">
                    <tr>
                    <tr>
                        <th>Stock Type</th>
                        <th>Dealer</th>
                        <th>No Of Box</th>
                        <th>Total Square feet</th>
                        <th>Remarks</th>
                        <th>View</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="stockList.length==0">
                        <td colspan="100%" class="text-center">
                            <img class="no-data-icon" src="../../../../../../../assets/images/icons/no-data.svg">
                            <h5 class="margin-top-bottom-10">
                                No Data To Show
                            </h5>
                        </td>
                    </tr>
                    <tr *ngFor="let stock of stockList ; let i = index">
                        <td>{{ stockTypes[stock.stock_type] }}</td>
                        <td>{{ stock.dealer }}</td>
                        <td>{{ stock.no_of_box }}</td>
                        <td>{{ stock.total_feet }}</td>
                        <td>{{ stock.remarks }}</td>
                        <td>
                            <span class="blue hover-underline" type="button" (click)="viewDetails(i)">View</span>
                        </td>
                        <td><span class="pointer" (click)="delete(stock.id,i)"><img height="18px"
                                    src="../../../../../../assets/images/trash.svg"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<p-dialog header="View Stock" [(visible)]="viewStockDialog" [modal]="true" [styleClass]="'add-edit-dialog'"
    [draggable]="false" [resizable]="false" (onHide)="closeViewDetails()">
    <div class="row h-100 justify-content-between">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Stock Type</label>
                    <input type="text" name="dealer" [disabled]="true"
                        [(ngModel)]="stockTypes[selectedStock.stock_type]" class="form-control "
                        placeholder="Enter Dealer">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Dealer</label>
                    <input type="text" name="dealer" [disabled]="true" [(ngModel)]="selectedStock.dealer"
                        class="form-control " placeholder="Enter Dealer">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">No Of Box</label>
                    <input type="text" name="no_of_box" [disabled]="true" [(ngModel)]="selectedStock.no_of_box"
                        class="form-control " placeholder="Enter No Of Box">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Per Square Foot Price</label>
                    <input type="number" name="per_foot_price" [disabled]="true"
                        [(ngModel)]="selectedStock.per_foot_price" class="form-control "
                        placeholder="Enter Per Foot Price">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Extra Expense Per Square Foot</label>
                    <input type="number" name="extra_expense_per_feet" [disabled]="true"
                        [(ngModel)]="selectedStock.extra_expense_per_feet" class="form-control "
                        placeholder="Enter Extra Expense">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Total Amount</label>
                    <input type="number" name="total_amount" [disabled]="true" [(ngModel)]="selectedStock.total_amount"
                        class="form-control " placeholder="Enter Total Amount">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label class="form-label">Remarks</label>
                <input type="number" name="remarks" [disabled]="true"
                    [(ngModel)]="selectedStock.remarks" class="form-control "
                    placeholder="Enter Remarks">
            </div>
        </div>
        <div class="d-flex justify-content-end  gap-3  mt-md-4">
            <button type="button" (click)="closeViewDetails()"
                class="btn btn-light waves-effect waves-light">Close</button>
        </div>
    </div>
</p-dialog>
<app-add-edit-product-stock [addOrEditStockDialog]="addEditStockDialog" [productId]="productId" [stock]="stock"
    (addOrUpdateStock)="addOrUpdateStock($event)" (close)="cancelAddEditStock($event)"></app-add-edit-product-stock>