<div class="card">
    <div class="content">
        <div class="row mb-2">
            <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">

                    <h4>Stock</h4>
                    <!-- <div class="search-grp">
                        <input class="search-input" placeholder="Search..." type="text" name="search_text"
                            (input)="onSearchInputChange($event)" [(ngModel)]="searchText">
                        <img class="search-img" src="../../../../../../../assets/images/icons/search.svg">
                    </div> -->
                </div>
                <div class="d-flex gap-2">
                    <div>
                        <button class="btn btn-soft-primary btn-sm " (click)="addStock()">Add<i
                                class="mdi mdi-plus align-middle ms-1"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tb-main">
            <table class="table table-bordered table-hover  table-centered align-middle table-nowrap">
                <thead class="text-muted bg-light-subtle sticky-tb-head">
                    <tr>
                    <tr>
                        <th>Dealer</th>
                        <th>No Of Box</th>
                        <th>Stock Type</th>
                        <th>Total feet</th>
                        <th>Total Amount</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="stockList.length==0">
                        <td colspan="100%" class="text-center">
                            <img class="no-data-icon" src="../../../../../../../assets/images/icons/no-data.svg">
                            <h5 class="margin-top-bottom-10">
                                No Data To Show
                            </h5>
                        </td>
                    </tr>
                    <tr *ngFor="let stock of stockList ; let i = index">
                        <td>{{ stock.dealer }}</td>
                        <td>{{ stock.no_of_box }}</td>
                        <td>{{ stockTypes[stock.stock_type] }}</td>
                        <td>{{ stock.total_feet }}</td>
                        <td>{{ stock.total_amount }}</td>
                        <td><span class="pointer" (click)="delete(stock.id,i)"><img height="18px"
                                    src="../../../../../../assets/images/trash.svg"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-add-edit-product-stock [addOrEditStockDialog]="addEditStockDialog" [productId]="productId" [stock]="stock" (addOrUpdateStock)="addOrUpdateStock($event)" (close)="cancelAddEditStock($event)"></app-add-edit-product-stock>