.pointer {
    cursor: pointer;
}

.head-tb-sep {
    margin: 8px -20px;
    margin-bottom: calc(8px + .5rem);
    border: 1px solid #DFE0E0;
}

.blue {
    color: #286CE8 !important;
}
.search-grp {
    display: flex;
    justify-content: flex-end;

    .search-input {
        margin-bottom: 0.5rem;
        padding-right: 24px;
        border: 1px solid #B2B2B2;
        outline: none;
        border-radius: 0.25rem;
    }

    .search-img {
        margin-top: 6px;
        position: absolute;
        margin-right: 3px;
        height: 14px;
    }

}
.red{
    color: red;
}
.text-icon-grp {
    gap: 8px;

    & button {
        padding: 0px 4px;
    }
}

.pad-group {
    padding: 0px 6px;
}

.hover-underline:hover {
    text-decoration: underline;
}

.sticky-tb-head {
    position: sticky;
    top: -1px;
}

.tb-overflow {
    max-height: calc(100% - 165px);
    position: absolute;
    overflow: auto;
    width: 97%;
}

.tb-main {
    max-height: calc(100% - 150px) !important;
    position: relative;
    overflow: auto;
    width: 100%;
    // height: calc(100Vh - 188px);
    height: calc(100Vh - 240px);
}
.status {
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: 600;

    // font-size: 18px;
    &.green {
        border: 1px solid #70D20D;
        color: #70D20D;
    }

    &.warning {
        border: 1px solid #EEC801;
        color: #EEC801;
    }

    &.red {
        border: 1px solid #EE6352;
        color: #EE6352;
    }

    &.blue {
        border: 1px solid #1457D2;
        color: #1457D2;
        background-color: #D6E4FF;
        font-size: 13px;
    }
}
.card {
    border: 1px solid #DFE0E0;
    border-radius: 5px;

    .content {
        padding: 25px 25px;
    }
}