<div class="card">
    <div class="content">
        <div class="row mb-2">
            <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">

                    <h4>Transactions</h4>
                    <!-- <div class="search-grp">
                        <input class="search-input" placeholder="Search..." type="text" name="search_text"
                            (input)="onSearchInputChange($event)" [(ngModel)]="searchText">
                        <img class="search-img" src="../../../../../../../assets/images/icons/search.svg">
                    </div> -->
                </div>
                <div class="d-flex gap-2">
                    <div>
                        <button class="btn btn-soft-primary btn-sm " (click)="addTransaction()">Add<i
                                class="mdi mdi-plus align-middle ms-1"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tb-main">
            <table class="table table-bordered table-hover  table-centered align-middle table-nowrap">
                <thead class="text-muted bg-light-subtle sticky-tb-head">
                    <tr>
                    <tr>
                        <th>Name</th>
                        <th>Mode Of Payment</th>
                        <th>Transaction Date</th>
                        <th>Notes</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="transactionsList.length==0">
                        <td colspan="100%" class="text-center">
                            <img class="no-data-icon" src="../../../../../../../assets/images/icons/no-data.svg">
                            <h5 class="margin-top-bottom-10">
                                No Data To Show
                            </h5>
                        </td>
                    </tr>
                    <tr *ngFor="let transaction of transactionsList ; let i = index">
                        <td>{{ transaction.amount }}</td>
                        <td>{{ modeOfPayment[transaction.mode_of_payment] }}</td>
                        <td>{{ transaction.transaction_date }}</td>
                        <td>{{ transaction.notes }}</td>
                        <td>
                            <div class="d-flex text-icon-grp">
                                <span class="btn btn-soft-primary btn-sm" type="button"
                                    (click)="editTransaction(transaction,i)">Edit<i
                                        class="ri-pencil-line ms-1"></i></span>
                            </div>
                        </td>
                        <td><span class="pointer" (click)="delete(transaction.id,i)"><img height="18px"
                                    src="../../../../../../assets/images/trash.svg"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-add-edit-transaction [orderId]="orderId" [addEditTransactionDiaog]="addEditTransactionDialog"
    [transaction]="transaction" [boolViewTransaction]="boolViewTransaction" (close)="closeAddOrEditTransaction($event)" (newOrUpdatedTransaction)="addOrUpdateTransaction($event)"></app-add-edit-transaction>